<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet" >
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img class='image-lol'src="./images/wallpaper.jpg" alt="">
        </div>
        <div class="form-container">
            <div class="container-img">
                <img  class="ajust-image_lol" src="./images/logo.png" alt="img"/>
                <h3>Formúlario de Contato</h3>
            </div>
            <form name="form-controll">
                <span class="modified">Nome</span>
                <span class="title-modified">Sobrenome</span>
                <div class="input-container">
                    <input  class="nome" type="text" name="nome" placeholder="Digite seu nome">
                    <input class="sobrenome" type="text" name="sobrenome" placeholder="Digite seu sobrenome">
                </div>
                <span class="modified">Idade</span>
                <span class="title-modified">Telefone</span>
                <div class="input-container">
                    <input class="idade" type="idade" name="idade" placeholder="Digite sua idade">
                    <input class="telefone" type="telefone" name="telefone" placeholder="Digite seu telefone">
                </div>
                <span class="modified">Cep</span>
                <span class="modified-4">Endereço</span>
                <div class="input-container">
                    <input class="CEP" type="cep" name="cep" placeholder="Digite seu CEP">
                    <input class="endereco" type="endereco" name="endereco" placeholder="Digite seu Endereço">
                </div>
                <span class="modified">Número</span>
                <span class="modified-3">Cidade</span>
                <div class="input-container">
                    <input class="numero" type="numero" name="numero" placeholder="Digite seu Número">
                    <input class="cidade" type="cidade" name="cidade" placeholder="Digite sua cidade">
                </div>
                <span class="modified">CPF</span>
                <div class="input-container">
                    <input class="cpf" type="cpf" name="cpf" placeholder="Digite seu CPF">
                    <select class="uf" name="uf" id="select">
                        <option value="Opções">UF</option>
                        <option value="SP">SP</option>
                        <option value="RJ">RJ</option>
                        <option value="MT">MT</option>
                    </select>
                </div>
                <input class="ajust-enviar" type="submit" value="Enviar">
            </form>
        </div>
    
    <script src="script.js"></script>
    <script>document.addEventListener("DOMContentLoaded", function() {
        const btnSubmit = this.getElementsByClassName('ajust-enviar')[0]
        btnSubmit.addEventListener('click', SubmeterDados)
    })</script>
</body>
</html>